*

# Required files
!.gitignore
!LICENSE
!README.md
!.github/
!.github/**

# Source
!/include
!/include/**
!/src
!/src/**

# Premake
!premake5.lua
!/Premake
!/Premake/**

# External
!/External
!/External/**

# Editor
!/Editor
!/Editor/**

# Test
!/Test
!/Test/**

# ////////////////////////////
# |         SAMPLES          |
# ////////////////////////////

!/Samples
!/Samples/**
src/Graphics/VK/Shaders/slang.spv
