*

# Required files
!.gitignore
!LICENSE
!README.md

# Source
!/include
!/include/**
!/src
!/src/**

# Premake
!premake5.lua
!/Premake
!/Premake/**

# External
!/External/ImGui
!/External/GoogleTest

# Test
!/Test
!/Test/**
